<!DOCTYPE html>
<html>
<head>
  <title>Byo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="js/libs/jquery-1.11.1.min.js"></script>
<script src="js/libs/jquery.easing.min.js"></script>
<script src="js/plugins/bootstrap.min.js"></script>
<script src="js/plugins/smoothscroll.js"></script>
<script src="js/plugins/utilities.js"></script>
<script src="js/plugins/foundation.min.js"></script>
<script src="js/plugins/jquery.placeholder.js"></script>
<script src="js/plugins/icheck.min.js"></script>
<script src="js/plugins/jquery.validate.min.js"></script>
<script src="js/plugins/waypoints.min.js"></script>
<script src="js/plugins/isotope.min.js"></script>
<script src="js/plugins/masterslider.min.js"></script>
<script src="js/plugins/owl.carousel.min.js"></script>
<script src="js/plugins/lightGallery.min.js"></script>
<script src="js/plugins/jquery.stellar.min.js"></script>
<script src="js/plugins/jquery.parallax.min.js"></script>
<script src="js/plugins/chart.min.js"></script>
<script src="js/plugins/jquery-numerator.js"></script>
<script src="js/plugins/jquery.countdown.min.js"></script>
<script src="js/plugins/jquery.easypiechart.min.js"></script>
<script src="js/plugins/jquery.nouislider.min.js"></script>
<script src="js/plugins/card.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
